<div class="home-page">
  <form>
    <input
      class="search-bar"
      type="text"
      autofocus
      [formControl]="query"
      placeholder="Search Movie..."
    />
  </form>

  <div
    style="color: white; display: flex; align-content: center"
    *ngIf="movieStore.isLoading()"
  >
    Loading....
  </div>

  <div [hidden]="movieStore.isLoading()">
    <div class="movies-flex">
      <div class="movie-card" *ngFor="let movie of movieStore.moviesList()">
        <div
          class="poster-wrapper"
          role="link"
          tabindex="0"
          [routerLink]="['/movie-detail', movie.id]"
        >
          <img
            [src]="'https://image.tmdb.org/t/p/w185' + movie.poster_path"
            [alt]="movie.title"
          />
          <span class="rating" [ngClass]="ratingColor(movie.vote_average)">
            {{ movie.vote_average | number: '1.2-2' }}
          </span>
        </div>

        <h3
          class="title"
          *ngIf="movie.title; else movieName"
          title="{{ movie.title}}"
        >
          {{ movie.title }}
        </h3>
        <ng-template #movieName>
          <h3 class="title" title="{{movie.name }}">{{ movie.name }}</h3>
        </ng-template>

        <div class="genres">
          <span *ngFor="let genre of movie.genres; let last = last">
            {{ genre.name }}<span *ngIf="!last">, </span>
          </span>
        </div>
      </div>
    </div>
    <div class="footer">
      <button
        class="button"
        (click)="previousPage()"
        [disabled]="movieStore.currentPage() === 1"
      >
        ◀ Prev
      </button>

      <div class="page-number">Page {{movieStore.currentPage()}}</div>
      <button class="button" (click)="nextPage()">Next ▶</button>
    </div>
  </div>
</div>
