<div class="movies-grid">
  <div class="movie-card" *ngFor="let movie of movies">
    <!-- Poster + rating badge -->
    <div class="poster-wrapper">
      <img
        [src]="'https://image.tmdb.org/t/p/w185' + movie.poster_path"
        [alt]="movie.title"
      />
      <span class="rating" [ngClass]="ratingColor(movie.vote_average)">
        {{ movie.vote_average | number: '1.2-2' }}
      </span>
    </div>

    <!-- Title -->
    <h3 class="title" title="{{ movie.title }}">{{ movie.title }}</h3>

    <!-- Genres -->
    <div style="display: flex; align-items: center">
      👍

      <p class="genres">{{ movie.vote_count}}</p>
    </div>
  </div>
</div>
