<!-- <div class="login-wrapper">
  <h1 class="title">Sign in</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    
    <div class="form-field">
      <label for="email">E-mail</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="you@example.com"
      />
      <small *ngIf="form.get('email')!.touched && form.get('email')!.invalid">
        Please enter a valid e-mail.
      </small>
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="••••••••"
      />
      <small
        *ngIf="
          form.get('password')!.touched && form.get('password')!.invalid
        "
      >
        Password is required.
      </small>
    </div>

    
    <button type="submit" [disabled]="submitting" class="primary-btn">
      {{ submitting ? 'Signing in…' : 'Sign in' }}
    </button>
  </form>
</div> -->
