/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/azure-blue.css"; */

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  background: #0f1c24;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
